@charset "utf-8";

:root{
    --dark-slate-gray: #283d3bff;
    --caribbean-current: #197278ff;
    --champagne-pink: #edddd4ff;
    --persian-red: #c44536ff;
    --burnt-umber: #772e25ff;
    --verde: #0CC03F;
    --marrom: #B69D9B;
    --amarelo: #F2CD5D;
    --cinza: #d9d9d93f;
}

*{
    margin: 0;
    border: 0;
}

body{
    font-family: 'Konkhmer Sleokchher', 'Montserrat', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#40454E, #0A1218);
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}

header{
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

header > nav{
    display: flex;
    gap: 20px;
}

nav > a{
    text-decoration: none;
}

nav > a:visited{
    color: white;
}

.apresentacao{
    margin: 32px;
    display: flex;
}

.apresentacao > *{
    flex: 1 1 0
}

.apresentacao_texto > p{
    padding: 16px;
    color: var(--marrom);
}

.apresentacao_secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao_secundario > img{
    max-width: 50vw;
}

.apresentacao_secundario > a {
    background-color: var(--amarelo);
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
}

.apresentacao_secundario > a:visited{
    color: white;
}

.green_text{
    color: var(--verde);
}
.sub_cabecalho{
    padding: 16px;
    background-color: var(--caribbean-current);
    color: white;
}

.secao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao_texto{
    margin: auto;
    background-color: white;
    height: 90vh;
    width: 80%;
    padding: 5vw;
}
.secao_iniciar{
    margin: auto;
    background-color: white;
    height: 90vh;
    width: 80%;
    padding: 5vw;
    display: flex;
    align-items: center;
}
.botao_iniciar{
    color: white;
    width: 6vw;
    padding: 2px;
    font-size: 20px;
    margin: auto;
    background-color: green;
}
.licoes{
    margin: 32px;
}

.licoes_lista{
    display: flex;
    list-style-type: none;
    gap: 4vw;
    padding: 0;
}

.aula{
    text-decoration: none;
    background-color: var(--verde);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    height: 16vw;
}

.aula:link{
    color: white;
}

.aula:visited{
    color: white;
}

.titulo_aula{
    font-size: 2vw;
}

.numeral_aula{
    font-family: 'Jaro', 'Courier New', Courier, monospace;
    font-size: 12vw;
    width: 16vw;
    background-color: var(--persian-red);
    text-align: center;
}

.instrucao{
    font-size: 24px;
    margin-bottom: 32px;
}

.lista_opcoes{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 8vh;
    list-style-type: none;
    gap: 2vh;
    background-color: white;
    padding: 4vw;
}

.som_main{
    width: 64px;
    height: 64px;
    background-color: var(--persian-red);
    border-radius: 16px;
}

.som_secundario{
    width: 10vw;
    height: 10vw;
    border-radius: 16px;
    background-color: var(--dark-slate-gray);
    color: white;
    font-size: 32px;
    border-bottom: 10px solid black;
}

.som_secundario:active{
    border-bottom: 2px solid black;
}


.texto_referencia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 32px;
}

.material-symbols-outlined{
    color: white;
}

section.licao{
    padding: 32px;
}

section.licao h1 {
    font-size: 30px;
}

section.licao h2 {
    margin-top: 16px;
    font-size: 24px;
}

section.licao p {
    text-align: justify;
    text-indent: 16px;
    font-size: 16px;
}
footer{
    margin: 32px auto 0 auto;
    background-color: var(--cinza);
    padding: 32px 0;
    text-align: center;
}


#divIu {
    display: flex;
    padding: 32px;
    justify-content: space-between;
}

#divIu > span{
    color: var(--verde);
}

#divIu > progress{
    border-radius: 16px;
}

#etapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etapa legend{
    background-color: white;
    color: black;
    padding: 32px;
    border-radius: 16px;
}